name: build
on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: 10
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        working-directory: packages/file-type-mime
        run: pnpm install --prefer-offline --frozen-lockfile

      - name: Validate code
        working-directory: packages/file-type-mime
        run: pnpm check

      - name: Format code
        working-directory: packages/file-type-mime
        run: pnpm format

      - name: Test code
        working-directory: packages/file-type-mime
        run: pnpm test

      - name: Ensure clean repo
        run: |
          if [[ ! -z "$(git status --porcelain)" ]]; then
            echo Working directory is dirty.
            git status --porcelain
            git --no-pager diff --no-color
            exit 1
          fi

      - name: Build code
        working-directory: packages/file-type-mime
        run: pnpm build

      - name: Upload assets
        uses: actions/upload-artifact@v6
        with:
          name: assets
          path: dist
